<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Fellows Stats</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <section>
      <h2>Code Fellows Highlights</h2>
      <ul>
        <% finalObject.stats.value.forEach((value,index)=> { %>
          <li>
            <h3>
              <%= finalObject.stats.labels[index] %> : <%= value %>
            </h3>
          </li>
          <% }) %>
      </ul>
    </section>
    <section>
      <h2>Upcoming Courses</h2>
      <ul>
        <% finalObject.calendarSchedule.forEach((course, index)=> { %>
          <li>
            <h3>
              <%= finalObject.courseTitles[index] %>
            </h3>
            <h4>
              <%= course %>
            </h4>
            <p>
              <%= finalObject.dayOrNight[index] %>
            </p>
          </li>
          <% }) %>

      </ul>
    </section>

  </main>

</body>

</html>